$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

@font-face {
    font-family: 'baseninemedium';
    src: url('../assets/fonts/baseninesmallcaps-webfont.eot');
    src: url('../assets/fonts/baseninesmallcaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/baseninesmallcaps-webfont.woff2') format('woff2'),
         url('../assets/fonts/baseninesmallcaps-webfont.woff') format('woff'),
         url('../assets/fonts/baseninesmallcaps-webfont.ttf') format('truetype'),
         url('../assets/fonts/baseninesmallcaps-webfont.svg#baseninemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'gameover/gameover.scss';
@import 'hiscores/hiscores.scss';
@import 'level/level.scss';
@import 'main/main.scss';
@import 'submit/submit.scss';
@import 'modal/modal.scss';
// endinjector

@mixin allTransition($duration) {
    -webkit-transition: all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -ms-transition: all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

$fakeBlack: #0a0a0a;
$wamRed: #cf0023;

html, body {
	width: 100%;
	height: 100%;
	background-color: $fakeBlack;
}

* {
	color: white;
	font-family: 'baseninemedium';
}

.red {
	color: rgb(227, 5, 19);
}

div[ui-view] {
	height: 100%;
}

.absolute-middle {
	text-align: center;
	position: absolute;
	bottom: 50%;
	left: 0;
	right: 0;
	margin: auto auto;

	img {
		width: 20%;
	}

	.small-icon {
		width: 5%;
	}
}

.absolute-middle.img {
	bottom: 25%;
}

.panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fruit-wrapper {
	height: 100%;
	@include allTransition(.1s);
	padding: 20px;

	h1 {
		margin: 0;
		font-size: 90px;
	}
}

.score {
	background-color: transparent;
	left: 20px;

	h1 {
		margin: 0;
		font-size: 90px;
	}

	img {
		width: 15%;
	}
}

.score .vida {
	width: 5%;
}

.blink {
  animation: blink .7s steps(5, start) 4;
  -webkit-animation: blink .7s steps(5, start) 4;
}
.blink-fast-forever {
  animation: blink .5s steps(5, start) infinite;
  -webkit-animation: blink .5s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

.webcam {
	text-align: center;
	height: 75%;
	padding-top: 40px;

	video {
		width: auto;
		height: 100%;
	}
}
